
Setup/README.me
*.cache
*.cache
GOL/obj/Debug/netcoreapp2.1/GOL.assets.cache
espia/obj/Debug/netcoreapp2.1/espia.csprojAssemblyReference.cache
*.cache
Creadir/obj/Debug/netcoreapp2.1/Creadir.assets.cache
CuantoDuraUnaPelicula/obj/Debug/netcoreapp2.1/CuantoDuraUnaPelicula.csprojAssemblyReference.cache
espia/obj/Debug/netcoreapp2.1/espia.csprojAssemblyReference.cache
Music/obj/Debug/netcoreapp2.1/Music.assets.cache
*.csproj
proyecto/obj/proyecto.csproj.nuget.g.targets
Creadir/obj/Creadir.csproj.nuget.g.props
Creadir/Creadir.csproj
Creadir/obj/Creadir.csproj.nuget.cache
Creadir/obj/Creadir.csproj.nuget.dgspec.json
Creadir/obj/Creadir.csproj.nuget.g.props
Creadir/obj/Creadir.csproj.nuget.g.targets
Creadir/obj/Debug/netcoreapp2.1/Creadir.assets.cache
Creadir/obj/Debug/netcoreapp2.1/Creadir.csproj.CoreCompileInputs.cache
Creadir/obj/Debug/netcoreapp2.1/Creadir.csproj.FileListAbsolute.txt
Creadir/obj/Debug/netcoreapp2.1/Creadir.csprojAssemblyReference.cache
Creadir/obj/Debug/netcoreapp2.1/Creadir.dll
Creadir/Creadir.csproj
Creadir/obj/Creadir.csproj.nuget.cache
Creadir/obj/Creadir.csproj.nuget.dgspec.json
Creadir/obj/Creadir.csproj.nuget.g.props
Creadir/obj/Creadir.csproj.nuget.g.targets
Creadir/obj/Debug/netcoreapp2.1/Creadir.assets.cache
Creadir/obj/Debug/netcoreapp2.1/Creadir.csproj.CoreCompileInputs.cache
Creadir/obj/Debug/netcoreapp2.1/Creadir.csproj.FileListAbsolute.txt
Creadir/obj/Debug/netcoreapp2.1/Creadir.csprojAssemblyReference.cache
Creadir/obj/Debug/netcoreapp2.1/Creadir.dll
*.targets
Creadir/obj/Debug/netcoreapp2.1/Creadir.assets.cache
*.targets
Creadir/obj/Creadir.csproj.nuget.g.props
proyecto/bin/Debug/netcoreapp3.0/proyecto.dll
proyecto/bin/Debug/netcoreapp3.0/proyecto.dll
proyecto/bin/Debug/netcoreapp3.0/proyecto.pdb
proyecto/obj/Debug/netcoreapp3.0/proyecto.dll
proyecto/obj/Debug/netcoreapp3.0/proyecto.pdb
proyecto/obj/Debug/netcoreapp3.0/proyecto.pdb
proyecto/obj/Debug/netcoreapp3.0/proyecto.pdb
proyecto/bin/Debug/netcoreapp3.0/proyecto.pdb
proyecto/obj/Debug/netcoreapp3.0/proyecto.dll
proyecto/bin/Debug/netcoreapp3.0/proyecto.dll
